@font-face {
    font-family: 'Hurricane';
    src: url('fonts/Hurricane-Regular.woff2') format('woff2'),
         url('fonts/Hurricane-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');


body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.6;
    background: #f7f7f7;
    color: #222;
}

/* En-tête */
header {
    display: flex;
    flex-direction: column;
    align-items: center; /* h1 reste centré */
    padding-top: 0.5rem;
    background: #222;
    color: #fff;
}

header h1 {
    font-family: 'Hurricane', cursive;
    font-size: 10rem;
    letter-spacing: 0px;
    margin-top: 0; /* supprime l’espace ajouté par le h1 */
    margin-bottom: 0.2rem; /* ajuster la valeur */
    line-height: 0.9;
}

header p {
    font-family: 'Chilanka', cursive;
    text-align: left;
    align-self: flex-start; /* laisse le h1 centré, déplace seulement les textes */
}

header .sous-titre {
    font-family: 'Chilanka', cursive;
    font-size: 2.2rem;
    margin-top: 0.2rem;
    line-height: 1;
    margin-bottom: 0.2rem;
    text-align: center;
    align-self: center;
}

header .description {
    font-family: 'Chilanka', cursive;
    font-size: 1.3rem; /* plus petit */
    margin-top: 1.5rem;
    line-height: 1.2;
    text-align: center;
    align-self: center;
}

/* Menu */
nav {
    display: flex;
    justify-content: center;
    background: #444;
}
nav a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
}
nav a:hover {
    background: #666;
}

/* Sections */
section {
    max-width: 800px;
    padding: 2rem;
    margin: auto;
}

/* Titres de section */
h2 {
    margin-top: 2rem;
}

/* Pied de page */
footer {
    text-align: center;
    padding: 1rem;
    background: #222;
    color: #fff;
    margin-top: 2rem;
}

/* Responsive (mobile) */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}
